@{
	ViewData["Title"] = "Chi tiết phòng trọ";
}
@section Styles {
	<link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/app-ecommerce-details.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/form-number-input.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/extensions/ext-component-toastr.css">
}
@model Motel

<section class="app-ecommerce-details">
	<div class="card">
		<!-- Product Details starts -->
		<div class="card-body">
			<div class="row my-2">
				<div class="col-12 col-md-5 d-flex align-items-center justify-content-center mb-2 mb-md-0">
					<div class="d-flex align-items-center justify-content-center">
						<img src="@Model.image" class="img-fluid product-img" alt="product image">
					</div>
				</div>
				<div class="col-12 col-md-7">
					<h4>@Model.title</h4>
					<span class="card-text item-company">
						<b>Người tạo:</b> <a href="#" class="company-name">@Model.user.username</a>
					</span>
					<div class="ecommerce-details-price d-flex flex-wrap mt-1">
						<h4 class="item-price me-1">@Model.price VNĐ</h4>
					</div>
					<p class="card-text">
						@if (Model.status == true)
						{
							<span class="badge rounded-pill badge-light-primary me-1">Còn phòng</span>
						} else
						{
							<span class="badge rounded-pill badge-light-primary me-1">Hết phòng</span>
						}
					</p>
					<p class="card-text">
						@Model.detail
					</p>
					<hr>
					<div class="d-flex flex-column flex-sm-row pt-1">
						<a href="tel:@Model.user.phone_number" class="btn btn-primary btn-cart me-0 me-sm-1 mb-1 mb-sm-0 waves-effect waves-float waves-light">
							<i data-feather='phone-call'></i>
							<span>Liên hệ</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Product Details ends -->
	</div>
</section>

@section Scripts {
	<script src="~/app-assets/js/scripts/pages/app-ecommerce-details.js"></script>
    <script src="~/app-assets/js/scripts/forms/form-number-input.js"></script>
	<script type="text/javascript">
        $(document).ready(async function(){
            addClassAppContent("ecommerce-application");
			$("#content-wrapper").addClass("container-xxl p-0");
        })
    </script>
}