@model NganHangNhaTro.Models.Motel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit motel";
}

<section id="multiple-column-form">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sửa phòng trọ</h4>
                </div>
                <div class="card-body">
                    <form class="form" method="POST" enctype="multipart/form-data" novalidate="novalidate" asp-controller="motel" asp-action="edit" asp-route-id="@Model.id">
                        <p class="text-warning">@ViewBag.ErrorMessage</p>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label for="title" class="form-label">Tiêu đề</label>
                                    <input type="text" class="form-control" asp-for="title" placeholder="title" value="@Model.title">
                                    <span asp-validation-for="title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label for="description" class="form-label">Mô tả</label>
                                    <input type="text" class="form-control" asp-for="description" placeholder="description" value="@Model.description">
                                    <span asp-validation-for="description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label for="status-column" class="form-label">Basic Select</label>
                                    <select class="form-select" id="status-column" asp-for="status">
                                        <option value="True" selected="@Model.status">Còn phòng</option>
                                        <option value="False" selected="@(Model.status == false)" >Hết phòng</option>
                                    </select>
                                    <span asp-validation-for="status" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label for="description" class="form-label">Địa chỉ</label>
                                    <input type="text" class="form-control" asp-for="address" placeholder="address" value="@Model.address">
                                    <span asp-validation-for="address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <label for="description" class="form-label">Giá</label>
                                    <input type="text" class="form-control" asp-for="price" placeholder="price" value="@Model.price">
                                    <span asp-validation-for="price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12"></div>
                            <div class="col-md-8 col-12">
                                <div class="mb-1">
                                    <label for="detail" class="form-label">Chi tiết</label>
                                    <textarea class="form-control" asp-for="detail" placeholder="detail" value="@Model.detail"></textarea>
                                    <span asp-validation-for="detail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="mb-1">
                                    <img class="img-edit" src="@Model.image">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light" id="btn-edit-save">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>