@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Motel";
    // Lấy thông tin người dùng từ session hoặc cookie
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/app-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/extensions/ext-component-toastr.css">
}
@*@model NganHangNhaTro.Models.Views.MotelView;*@
@model List<Motel>;

<!-- Bordered table start -->
<div class="row" id="table-bordered">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách phòng trọ đã đăng trên hệ thống</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên phòng</th>
                            <th>Hình ảnh</th>
                            <th>Địa chỉ</th>
                            <th>Ngày đăng</th>
                            <th>Trạng thái</th>
                            <th>Giá</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            int stt = 0;
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                stt++;
                                <tr>
                                    <td>@(stt)</td>
                                    <td>@Model[i].title</td>
                                    <td class="td-img-index">
                                        <img class="me-75 img-index" src="@Model[i].image" alt="Angular" />
                                    </td>
                                    <td>@Model[i].address</td>
                                    <td>18/07/2023 15:31:36</td>
                                    <td>
                                        @if (@Model[i].status == true)
                                        {
                                            <span class="badge rounded-pill badge-light-primary me-1">Còn phòng</span>
                                        }
                                        else
                                        {
                                            <span class="badge rounded-pill badge-light-primary me-1">Hết phòng</span>
                                        }
                                    </td>
                                    <td>
                                        @Model[i].price VNĐ
                                    </td>
                                    <td class="td-option-index">
                                        <div class="demo-inline-spacing">
                                            <a type="button" class="btn btn-flat-info" asp-controller="motel" asp-action="detail" asp-route-id="@Model[i].id">Review</a>
                                            <a type="button" class="btn btn-flat-warning" asp-controller="motel" asp-action="edit" asp-route-id="@Model[i].id" id="btn-edit">Sửa</a>
                                            <a type="button" class="btn btn-flat-danger" asp-controller="motel" asp-action="delete" asp-route-id="@Model[i].id">Xóa</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @*@foreach (var motel in Model)
                            {
                                @if (motel.created_by == Int32.Parse(userId))
                                {
                                    <tr>
                                        <td>1</td>
                                        <td>@motel.title</td>
                                        <td class="td-img-index">
                                            <img class="me-75 img-index" src="@motel.image" alt="Angular" />
                                        </td>
                                        <td>@motel.address</td>
                                        <td>18/07/2023 15:31:36</td>
                                        <td>
                                            @if (@motel.status == true)
                                            {
                                                <span class="badge rounded-pill badge-light-primary me-1">Còn phòng</span>
                                            }
                                            else
                                            {
                                                <span class="badge rounded-pill badge-light-primary me-1">Hết phòng</span>
                                            }
                                        </td>
                                        <td>
                                            @motel.price
                                        </td>
                                        <td class="td-option-index">
                                            <div class="demo-inline-spacing">
                                                <a type="button" class="btn btn-flat-info" asp-controller="Motel" asp-action="Detail" asp-route-id="@motel.id">Review</a>
                                                <a type="button" class="btn btn-flat-warning" asp-controller="Motel" asp-action="Edit" asp-route-id="@motel.id" id="btn-edit">Sửa</a>
                                                <a type="button" class="btn btn-flat-danger" asp-controller="Motel" asp-action="Delete" asp-route-id="@motel.id">Xóa</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }*@
                        }
                        else
                        {
                            <tr>Không tìm thấy motel nào.</tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Bordered table end -->

@*<section id="wishlist" class="grid-view wishlist-items">

    @if (Model != null && Model.Count > 0)
    {
        @foreach (var motel in Model)
        {
            @if (motel.created_by == Int32.Parse(userId))
            {
                <div class="card ecommerce-card">
                    <div class="item-img text-center">
                        <a asp-controller="Motel" asp-action="Detail" asp-route-id="@motel.id" class="motel-link">
                            <img src="@motel.image" class="img-fluid motel-img" alt="img-placeholder">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="item-wrapper">
                            <div class="item-rating">
                                <ul class="unstyled-list list-inline"></ul>
                            </div>
                            <div class="item-cost">
                                <h6 class="item-price">@motel.price đ</h6>
                            </div>
                        </div>
                        <div class="item-name">
                            <a href="app-ecommerce-details.html">@motel.title</a>
                        </div>
                        <p class="card-text item-description">
                            Địa chỉ: @motel.address
                        </p>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <p>Không tìm thấy motel nào.</p>
    }


</section>*@

@section Scripts {
    <script src="~/app-assets/js/scripts/pages/app-ecommerce-wishlist.js"></script>
    <script type="text/javascript">
        $(document).ready(async function(){
            addClassAppContent("ecommerce-application");
        })
    </script>
}