@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/app-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/extensions/ext-component-toastr.css">
}

@model List<Motel>;

<div class="row">
    <div class="col-12">
    <form method="GET" asp-controller="home" asp-action="index">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="title" placeholder="Search by title">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    </div>
</div>
<section id="wishlist" class="grid-view wishlist-items">
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var motel in Model)
        {
            <div class="card ecommerce-card">
                <div class="item-img text-center">
                    <a asp-controller="motel" asp-action="detail" asp-route-id="@motel.id" class="motel-link">
                        <img src="@motel.image" class="img-fluid motel-img" alt="img-placeholder">
                    </a>
                </div>
                <div class="card-body">
                    <div class="item-wrapper">
                        <div class="item-rating">
                            <ul class="unstyled-list list-inline">
                                @motel.address
                            </ul>
                        </div>
                        <div class="item-cost">
                            <h6 class="item-price">@motel.price đ</h6>
                        </div>
                    </div>
                    <div class="item-name">
                        <a href="#">@motel.title</a>
                    </div>
                    <p class="card-text item-description">
                        @motel.description
                    </p>
                </div>
            </div>
        }
    }
    else
    {
        <p>Không tìm thấy motel nào.</p>
    }

    @*<div class="card ecommerce-card">
        <div class="item-img text-center">
            <a href="app-ecommerce-details.html">
                <img src="~/app-assets/images/pages/eCommerce/1.png" class="img-fluid" alt="img-placeholder">
            </a>
        </div>
        <div class="card-body">
            <div class="item-wrapper">
                <div class="item-rating">
                    <ul class="unstyled-list list-inline"></ul>
                </div>
                <div class="item-cost">
                    <h6 class="item-price">$19.99</h6>
                </div>
            </div>
            <div class="item-name">
                <a href="app-ecommerce-details.html">Apple Watch Series 5</a>
            </div>
            <p class="card-text item-description">
                On Retina display that never sleeps, so it’s easy to see the time and other important information, without
                raising or tapping the display. New location features, from a built-in compass to current elevation, help users
                better navigate their day, while international emergency calling1 allows customers to call emergency services
                directly from Apple Watch in over 150 countries, even without iPhone nearby. Apple Watch Series 5 is available
                in a wider range of materials, including aluminium, stainless steel, ceramic and an all-new titanium.
            </p>
        </div>
    </div>

    <div class="card ecommerce-card">
        <div class="item-img text-center">
            <a href="app-ecommerce-details.html">
                <img src="~/app-assets/images/pages/eCommerce/1.png" class="img-fluid" alt="img-placeholder">
            </a>
        </div>
        <div class="card-body">
            <div class="item-wrapper">
                <div class="item-rating">
                    <ul class="unstyled-list list-inline"></ul>
                </div>
                <div class="item-cost">
                    <h6 class="item-price">$19.99</h6>
                </div>
            </div>
            <div class="item-name">
                <a href="app-ecommerce-details.html">Apple Watch Series 5</a>
            </div>
            <p class="card-text item-description">
                On Retina display that never sleeps, so it’s easy to see the time and other important information, without
                raising or tapping the display. New location features, from a built-in compass to current elevation, help users
                better navigate their day, while international emergency calling1 allows customers to call emergency services
                directly from Apple Watch in over 150 countries, even without iPhone nearby. Apple Watch Series 5 is available
                in a wider range of materials, including aluminium, stainless steel, ceramic and an all-new titanium.
            </p>
        </div>
    </div>

    <div class="card ecommerce-card">
        <div class="item-img text-center">
            <a href="app-ecommerce-details.html">
                <img src="~/app-assets/images/pages/eCommerce/1.png" class="img-fluid" alt="img-placeholder">
            </a>
        </div>
        <div class="card-body">
            <div class="item-wrapper">
                <div class="item-rating">
                    <ul class="unstyled-list list-inline"></ul>
                </div>
                <div class="item-cost">
                    <h6 class="item-price">$19.99</h6>
                </div>
            </div>
            <div class="item-name">
                <a href="app-ecommerce-details.html">Apple Watch Series 5</a>
            </div>
            <p class="card-text item-description">
                On Retina display that never sleeps, so it’s easy to see the time and other important information, without
                raising or tapping the display. New location features, from a built-in compass to current elevation, help users
                better navigate their day, while international emergency calling1 allows customers to call emergency services
                directly from Apple Watch in over 150 countries, even without iPhone nearby. Apple Watch Series 5 is available
                in a wider range of materials, including aluminium, stainless steel, ceramic and an all-new titanium.
            </p>
        </div>
    </div>*@
</section>
@* <div class="row">
    <div class="col-12">
        <nav aria-label="Page navigation">
            <ul class="pagination mt-2 justify-content-center">
                <li class="page-item prev"><a class="page-link" href="#"></a></li>
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item next"><a class="page-link" href="#"></a></li>
            </ul>
        </nav>
    </div>
</div> *@
@section Scripts {
    <script src="~/app-assets/js/scripts/pages/app-ecommerce-wishlist.js"></script>
    <script type="text/javascript">
        function addClassAppContent(className){
            $("#app-content").addClass(className);
        }
        $(document).ready(async function(){
            addClassAppContent("ecommerce-application");
        })
    </script>
}